/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Baskervville:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/*Theme*/

/*Geral*/
:root {
    --primary-color: #cf0f0f;
    --primary-color-contrast: #fff;
    --field-backgrond-color: #000;
}

/*Tema Claro*/
.light-theme {
    --page-background: linear-gradient(
        180deg,
        #fff 0%,
        #fff 65%,
        rgba(255, 255, 255, 0.75) 100%
    );
    --header-background-color: #e3e3e3;
    --highLight-color: #000;
    --featured-font-family: "Archivo", sans-serif;
    --character-top-image-src: url("../images/characters/kids-on-the-bike.svg");
    --character-top-image-color: #fff;
    --character-bottom-image-src: url("../images/characters/inverted-world-monster.svg");
    --character-bottom-image-color: #e5e5e5;
    --background-lamp-image: url("../images/backgrounds/lamps.png");
    --footer-background-color: #b5bbbf;
}

/*Tema Escuro*/
.dark-theme {
    --page-background: linear-gradient(
        180deg,
        #050000 0%,
        #130404 65%,
        rgba(19, 1, 1, 0.75) 100%
    );
    --header-background-color: #220f0f;
    --highLight-color: #fff;
    --featured-font-family: "Creepster", sans-serif;
    --character-bottom-image-src: url("../images/characters/kids-on-the-bike.svg");
    --character-bottom-image-color: rgba(255, 255, 255, 0.1);
    --character-top-image-src: url("../images/characters/inverted-world-monster.svg");
    --character-top-image-color: #000;
    --background-lamp-image: url("../images/backgrounds/lamps-inverted.png");
    --footer-background-color: #000;
}

.dark-theme button,
.dark-theme h1,
.dark-theme h2,
.dark-theme h3 {
    letter-spacing: 5px;
    font-weight: normal;
}

.dark-theme .invert-element {
    transform: rotateZ(180deg) scaleX(-1);
}

/*Estilos genericos*/
* {
    box-sizing: border-box;
    transition: 1s;

    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: var(--featured-font-family);
    text-transform: uppercase;

    font-size: 3rem;

    margin-bottom: 40px;
    color: var(--primary-color);
}

p {
    color: var(--highLight-color);
}


p,
input,
textarea,
label {
    font-family: "Baskervville", serif;
}
    
button {
    cursor: pointer;
    transition: background 1s;

    padding: 16px 32px;

    font-family: var(--featured-font-family);
    font-weight: 900;
    font-size: 1.25rem;
    text-transform: uppercase;

    background-color: transparent;
}

input,
textarea {
    border: 2px solid var(--primary-color-contrast);
    background-color: var(--field-backgrond-color);
    color: var(--primary-color-contrast);
    padding: 8px;
    margin-bottom: 24px;
    font-size: 1rem;
}

label {
    margin-bottom: 8px;
}

input:focus-visible,
textarea:focus-visible {
    outline: none;
    border-color: black;
}

/*Header (Cabeçalho)*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    min-height: 850px;

    background-color: var(--header-background-color);
}

header::before {
    content: "";
    background-image: url("../images/banner/florest.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 90%;
    filter: saturate(0);
    opacity: 0.2;

    position: absolute;

    width: 100%;
    height: 100%;
}

.header-content {
    text-align: center;
    padding: 80px 20px;
    max-width: 700px;
    z-index: 2;
}

.header-content img {
    width: 80%;
}

.header-content p {
    margin: 30px 0 50px;
}

.header-content button {
    border: 3px solid var(--primary-color);
    color: var(--primary-color);
}

.header-content button:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
}

/*Estilos dos personagens no mundo*/

.world-characters {
    position: absolute;

    width: 100%;
    max-width: 900px;
}

.world-characters#top-characters {
    height: 100%;
    bottom: -3px;

    background-color: var(--character-top-image-color);
    mask: var(--character-top-image-src) bottom / 100% no-repeat;
    -webkit-mask: var(--character-top-image-src) bottom / 100% no-repeat;
}

.world-characters#bottom-characters {
    height: 500px;
    top: 3px;

    position: relative;
    transform: rotateZ(180deg) scaleX(-1);

    background-color: var(--character-bottom-image-color);
    mask: var(--character-top-image-src) bottom / 100% no-repeat;
    -webkit-mask: var(--character-bottom-image-src) bottom / 100% no-repeat;
}


/*Conteúdo Principal*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

main::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: var(--page-background) no-repeat, url("/assets/images/backgrounds/florest.png") no-repeat;
    background-size: cover;
    z-index: -1;
}

/*seção do Mundo invertido*/

section {
    display: flex;
    justify-content: space-between;

    margin-bottom: 95px;
}

.container {
    max-width: 1200px;
}

#section-inverted-world {
    align-items: center;
}

#section-inverted-world  .section-texts {
    width: 50%;
}

#section-inverted-world .section-texts h1 {
    max-width: 300px;
} 

/*Seção do trailer*/

#section-stranger-things-trailer .section-texts {
    width: 50%;
    text-align: right;
}

#section-stranger-things-trailer .section-texts h2 {
    max-width: 425px;
    display: inline-block;
}

#section-stranger-things-trailer .video-frame {
   background-color: var(--primary-color);
}

#section-stranger-things-trailer .video-frame iframe {
    position: relative;

    bottom: 24px;
    left: 24px;

    border: 2px solid;
    border-image: linear-gradient(
        var(--primary-color),
        var(--primary-color-contrast)
    );

    border-image-slice: 10;
 }

/*Galeria de imagens*/

#section-stranger-things-gallery {
    width: 100%;
    justify-content: center;
    background: var(--background-lamp-image) 120% / 50% no-repeat;
}

#section-stranger-things-gallery .container {
    width: 100%;
}

#section-stranger-things-gallery .container h2 {
    width: 800px;
}

#section-stranger-things-gallery .gallery-container {
    display: flex;
    gap: 50px;
    padding-left: 20px;
}

#section-stranger-things-gallery .gallery-image {
    width: 250px;
    height: 250px;

    outline: 20px solid var(--highLight-color);
    border: 3px solid var(--primary-color);
    box-sizing: initial;
}

#section-stranger-things-gallery .gallery-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 10px solid var(--highLight-color);
}

/*Seção do formulario*/

#section-form {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}

#section-form h2 {
    width: 600px;
}

#section-form .form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-form .form-content h3 {
    color: var(--highLight-color);
    flex-basis: 30%;
    text-align: left;
    margin: 0;
}

#section-form .form-content h3 span {
    color: var(--primary-color);
}

#section-form .form-container {
    flex-basis: 50%;
    position: relative;
}

#section-form .form-container::after {
    content: "";
    background-color: var(--highLight-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: -1;
}

#section-form .form-container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
    text-align: left;
}

#section-form .form-container form button {
    border: none;
    background-color: var(--field-backgrond-color);
    color: var(--primary-color-contrast);
    max-width: 300px;
    align-self: center;
}

#section-form .form-container form button:hover {
    background-color: var(--primary-color-contrast);
    color: var(--field-backgrond-color);
}

/*Footer*/

footer {
    padding: 60px 0;
    background-color: var(--footer-background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

footer p {
    max-width: 700px;
    margin-bottom: 24px;
}

footer::before,
footer::after {
    content: "";
    width: 300px;
    height: 200px;
    background: url("/assets/images/footer/tape.svg") no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -30px;
}

footer::before {
    left: -50px;
    transform: rotateZ(-10deg);
}

footer::after {
    right: -50px;
    transform: rotateZ(10deg);
}














/*Responsivo*/

@media (max-width: 768px) {

    body {
        overflow-x: hidden; /* Evita a rolagem lateral */
    }

    header {
        min-height: 600px; /* Reduzindo a altura mínima do header */
    }

    .header-content {
        padding: 50px 15px; /* Ajusta o espaçamento interno */
        max-width: 90%; /* Aumenta a largura máxima em telas menores */
    }

    .header-content img {
        width: 90%; /* Torna a imagem um pouco maior em dispositivos móveis */
    }

    .header-content p {
        margin: 20px 0 40px; /* Ajusta os espaçamentos dos parágrafos */
    }

    .header-content button {
        padding: 10px 20px; /* Ajusta o tamanho do botão para telas menores */
    }
}

@media (max-width: 768px) {
    section {
        flex-direction: column; /* Muda a direção do layout para coluna em mobile */
        align-items: center;    /* Centraliza os itens em telas menores */
        margin-bottom: 50px;    /* Reduz o espaçamento inferior */
    }

    #section-inverted-world {
        flex-direction: column; /* Coloca os itens verticalmente */
        text-align: center;     /* Centraliza o texto para melhor legibilidade em mobile */
    }

    #section-inverted-world img {
        width: 280px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #section-inverted-world .section-texts {
        width: 100%; /* A largura do texto ocupa toda a tela */
        padding: 0 20px; /* Adiciona espaçamento lateral para evitar que o texto encoste nas bordas */
    }

    #section-inverted-world .section-texts h1 {
        max-width: 100%; /* Permite que o título ocupe mais espaço em telas menores */
    }
}

@media (max-width: 768px) {
    #section-stranger-things-trailer {
        display: flex;
        flex-direction: column; /* Organiza o texto e vídeo em coluna */
        align-items: center;    /* Centraliza os elementos */
        margin-top: 60px;
    }

    #section-stranger-things-trailer .section-texts {
        width: 100%;  /* O texto ocupa 100% da tela em dispositivos móveis */
        text-align: center;  /* Alinha o texto ao centro */
        padding: 0 20px;  /* Adiciona espaçamento lateral para evitar encostar nas bordas */
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #section-stranger-things-trailer .section-texts h2 {
        max-width: 100%;  /* O título ocupa mais espaço em telas menores */
        margin-bottom: 20px;  /* Adiciona espaçamento entre o título e o vídeo */
    }

    #section-stranger-things-trailer .video-frame iframe {
        width: 100%; /* Garante que o iframe ocupe toda a largura da tela no mobile */
        height: auto; /* Ajusta a altura proporcionalmente */
        bottom: 0;
        left: 0;
    }
}

@media (max-width: 768px) {
    #section-stranger-things-gallery {
        padding: 30px 0; /* Reduz o espaçamento em telas menores */
    }

    #section-stranger-things-gallery .container {
        padding: 0 10px; /* Adiciona espaçamento lateral menor */
        text-align: center; /* Centraliza o texto da seção */
    }

    #section-stranger-things-gallery .container h2 {
        white-space: normal; /* Permite quebras de linha no título */
        overflow-wrap: break-word; /* Quebra a palavra se necessário */
        margin: 0 auto; /* Centraliza o título */
        max-width: 100%; /* Garante que o título não ultrapasse o container */
        margin-bottom: 40px;
    }

    #section-stranger-things-gallery .gallery-container {
        flex-direction: column; /* Organiza as imagens em coluna no mobile */
        align-items: center; /* Centraliza as imagens */
        gap: 20px; /* Diminui o espaçamento entre as imagens */
        padding: 0; /* Remove padding lateral em telas pequenas */
        list-style: none;
    }

    #section-stranger-things-gallery .gallery-image {
        width: 100%; /* As imagens ocupam 100% da largura no mobile */
        max-width: 350px; /* Limita o tamanho máximo das imagens no mobile */
        height: auto; /* Ajusta a altura proporcionalmente */
        outline: 5px solid var(--highLight-color); /* Diminui a espessura da borda */
    }

    #section-stranger-things-gallery .gallery-image img {
        width: 100%; /* Garante que as imagens ocupem toda a largura disponível */
        height: auto; /* Mantém a proporção da altura */
        object-fit: cover;
    }

    #section-stranger-things-gallery {
        background: none;
    }
}

@media (max-width: 768px) {
    #section-form {
        padding: 20px; /* Adiciona espaçamento ao redor da seção */
        overflow: hidden; /* Evita que o conteúdo exceda o tamanho da tela */
    }

    #section-form h2 {
        width: 100%; /* Define a largura do título como 100% */
        font-size: 1.5rem; /* Ajusta o tamanho da fonte do título */
        margin: 0 auto; /* Centraliza o título */
        text-align: center; /* Centraliza o texto do título */
    }

    #section-form .form-content {
        flex-direction: column; /* Muda a direção do layout para coluna */
        align-items: center; /* Centraliza os elementos no centro */
        gap: 20px; /* Diminui o espaço entre os elementos */
        width: 100%; /* Garante que o container utilize a largura total */
    }

    #section-form .form-content h3 {
        flex-basis: auto; /* Remove a restrição de largura fixa */
        text-align: center; /* Centraliza o texto do subtítulo */
        margin-bottom: 10px; /* Adiciona espaço abaixo do subtítulo */
        width: 100%; /* Garante que o subtítulo utilize a largura total */
    }

    #section-form .form-container {
        width: 100%; /* Ajusta a largura do container para 100% */
        max-width: 500px; /* Limita a largura máxima do formulário */
        padding: 0 20px; /* Adiciona padding horizontal ao container */
    }

    #section-form .form-container::after {
        top: 0; /* Ajusta a posição da sombra para o topo */
        left: 0; /* Ajusta a posição da sombra para a esquerda */
        right: 0; /* Garante que a sombra se estenda até a direita */
        bottom: 0; /* Garante que a sombra se estenda até o fundo */
    }

    #section-form .form-container form {
        display: flex; /* Continua com o layout flexível */
        flex-direction: column; /* Define a direção do layout para coluna */
        justify-content: center;
        padding: 16px; /* Reduz o padding do formulário para caber melhor na tela */
        background-color: var(--primary-color);
        color: var(--primary-color-contrast);
        text-align: left;
        width: 100%; /* Garante que o formulário utilize toda a largura disponível */
        box-sizing: border-box; /* Inclui o padding e borda na largura total */
    }

    #section-form .form-container form button {
        width: 100%; /* Botão ocupa 100% da largura disponível */
        max-width: none; /* Remove a restrição de largura máxima no botão */
    }
}

@media (max-width: 768px) {
    footer {
        padding: 40px 20px; /* Reduz o padding para telas menores */
        overflow: hidden; /* Mantém o overflow escondido */
    }

    footer p {
        max-width: 100%; /* Garante que o parágrafo ocupe toda a largura disponível */
        margin-bottom: 16px; /* Diminui o espaço abaixo do parágrafo */
        font-size: 0.9rem; /* Ajusta o tamanho da fonte para melhor leitura */
        text-align: center; /* Centraliza o texto do parágrafo */
    }

    footer::before,
    footer::after {
        width: 150px; /* Reduz a largura das imagens para telas menores */
        height: 100px; /* Reduz a altura das imagens para telas menores */
        bottom: -20px; /* Ajusta a posição inferior das imagens */
    }

    footer::before {
        left: -30px; /* Ajusta a posição esquerda da imagem antes */
    }

    footer::after {
        right: -30px; /* Ajusta a posição direita da imagem depois */
    }
}
